<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-1">
        <div class="col-7 offset-2" >

    <br><br><br>
    <h3>Create a new Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"> <!-- enctype used to help forms send files to db-->
        
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input type="text" name="listing[title]" placeholder="Add a title" class="form-control" required/>

            <div class="valid-feedback"> Title looks good!</div>
            <div class="invalid-feedback">Please enter a title!</div> 
        </div>
        
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea name="listing[description]" class="form-control" required></textarea>

            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Please enter a short description </div>
        </div>
        
        <div class="mb-3">
            <lable for="image" class="form-label">Upload Listing Image</lable>
            <input type="file" name="listing[image]" placeholder="Enter image url/link" class="form-control" required/>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <lable for="price" class="form-label">Price</lable>
                <input type="text" name="listing[price]" placeholder="1200" class="form-control" required />

                <div class="invalid-feedback">Please enter a valid Price!</div> 
            </div>

            <div class="mb-3 col-md-8">
                <lable for="country" class="form-label">Country</lable>
                <input type="text" name="listing[country]" placeholder="India" class="form-control" required />

                <div class="invalid-feedback">Please enter country name!</div> 
            </div>

        </div>

        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required />

            <div class="invalid-feedback">Please enter the location!</div> 
        </div>        

        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
        <br>
    </form>
</div>
</div>